.transferContainer{
    background-color: #ffffff;
    height: 85vh;
    width: 100%;   
    padding: 15px 0;
    margin-top: 50px;
}

.page{
    display: flex;
}

.send_steps{
    width: 40%;
    padding: 40px;
}

.send_steps h1{
    padding-bottom: 20px;
    color: #ff4500;
}

.send_steps ol li{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 19px;
}

.send_steps b{
    font-weight: 600;
}

.steps_img{
    width: 50%;
   
}

.steps_img img{
    object-fit: cover;
    height: 77vh;
    border-radius: 15px;
}
